body {
  background: #d5e0ff;
  color: #5025d0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  background-color: transparent;
  border: 2px solid #5125d2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 600px;
}
#clock {
  text-align: center;
  font-size: 90px;
  font-family: "Varela Round", sans-serif;
}
